@media (max-width: 860px) {
  #movie-container ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 8px 16px;
  }

  #movie-container ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
