@media (max-width: 860px) {
  header {
    padding: 20px 32px;
  }

  .search-button img {
    width: 20px;
    height: 20px;
  }

  .search-container {
    width: 250px;
  }

  .search-bar {
    width: 210px;
  }
}

@media (max-width: 480px) {
  .search-container {
    width: 48px;
    position: relative;
  }

  .search-bar {
    width: 28px;
    height: 28px;
    padding: 10px;
  }

  .search-bar::placeholder {
    opacity: 0;
  }

  .search-button {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
